@model MakersMarket.Web.Areas.Store.Models.Shop.ShopOutputModel
@{
    ViewBag.Title = "ShopOutputModel";
}

<div id="product-grid">

    <a href="@Url.Action("Products", "Shop", new {id = Model.Id})">
            <div class="product-in-grid" style="background-image: url('@Model.ImagePath');">
            <div id="details-background">
                <div id="details">
                    <h4>@Html.DisplayFor(modelItem => Model.Title)</h4>
                </div>
            </div>
        </div>
    </a>
</div>
