@model MakersMarket.Web.Areas.Store.Models.Shop.ProductsPagedViewModel

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
@using PagedList.Mvc;

<div class="row">
    <div class="col-md-10 col-sm-12" id="product-view-outer-div">
        <div style="display: inline-block">
            @Html.DisplayFor(i => i.Products)    
            @Html.PagedListPager(Model.Products, page => Url.Action("Products", "Shop", new {id = Model.ShopId, page, pageSize = Model.PageSize}))
        </div>
    </div>
</div>