#adminMenu {
    background-color: #000000;
    color: #ffffff;
    border: 5px solid #000000;
    width: 100%;
    max-width: 220px;

}

@media(max-width: 768px){
    #adminMenu {
        height: auto;
        text-align: center;
        max-width: 100%;
    }
}

.admin{
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 1px 2px 1px 2px #c1c6cd;
    color: #79797c;

}

.button-in-admin-menu{
    line-height: 40px;
    min-height: 40px;
    margin-left: 15px;

}
.button-in-admin-menu a{
    /*font-weight: bold;*/
    font-size: 17px;
    color: #ffffff;
}

.button-in-admin-menu span{
    /*font-weight: bold;*/
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
}
#adminMenu .button-in-admin-menu:last-child {
    border-bottom: 0;
}
#admin-menu-outer-div{
    padding: 15px;
}
#admin-add-button{
    padding-top: 15px;
}


@media(max-width: 570px){
    #admin-list-headers{
        font-size: 12px;
    }
}
@media(max-width: 480px){
    #admin-list-headers{
        font-size: 8px;
    }
}
.admin-filedset{
    color: #79797c;
}

#admin-templates{
    background-color: #E6E6E6;
    padding-bottom: 15px;
}

.size-and-numbers{
    text-align: center;
}
.size-and-numbers input{
    width: 100px;
}

#size-and-numbers-numbers-table input[type="number"]{
    width:150px ;
}

#addRowButtonContainer{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 450px){
    #size-and-numbers-numbers-table input[type="number"]{
        width:65px ;
    }
    #addRowButtonContainer{
        text-align: center;
    }
}

.image-box{
    text-align: center;
}

#admin-templates * .customButton{
    text-align: center;
    margin-top: 15px;
}