body {
    overflow-x: hidden;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

hr {
    background-color: #000000;
    height: 1px;
    margin: 10px 0 10px 0;
}

.form-horizontal{
    background-color: #E6E6E6;
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}


#filter-column{
    padding: 0;
}

html,body {
    margin:0;
    padding:0;
    height:100%;
    }

    #container {
    min-height:100%;
    position:relative;
    }

    #footer-container {
    position:absolute;
    bottom:0;
    width:100%;
    }
