#app-footer{
    background-color:#000000;

}

footer {
    position:fixed;bottom:0;left:0;right:0;min-height:30px;
}
.footer-text{
    color:#ffffff;

}

#app-footer ul{
    list-style-type: none;
    padding:0;
}

@media (min-width: 100px) {
    .center-to-left {
        text-align: center;
    }
    #footer-container{

        height: 354px;
    }
    #view{
        padding-bottom: 354px;
        bottom:0;
    }
}

@media (min-width: 768px){
    .center-to-left{
        text-align:left;
    }
    #footer-container{
        height: 150px;
        bottom:0;
    }
    #view{
        padding-bottom: 150px;
        bottom:0;
    }
}

@media (min-width:962px){
    .center-to-left{
        text-align:left;
    }
    #footer-container{
        height: 150px;
        bottom:0;
    }
    #view{
        padding-bottom: 150px;
        bottom:0;
    }
}

#footer-container{
    margin:0;
    padding:0;

}

.footer-copyright{
    color:#ffffff;
}
.social-button{
    display:inline-block;
    padding-right:10px;

}
#social-container{
    margin-bottom:5px;
    margin-top:100px;
}